*.bbl
*.blg
*.fls
*.fdb_latexmk
*.gz
*.out
*.log
*.toc
*.aux
*.DS_Store
*.xdv
*.dat
*.err
*.out
host.txt
.history
*.pdf
*.png
*.jpg
try/
RG/*.csv
RG/*.jld2
RG/*/*.csv
RG/*/*.jld2
RG/*/*.pdf
RG/*/*.jl
RG_Roff/

__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints/*

Manifest.toml

docs/build
.vscode
.history
LocalPreferences.toml
run/